{% extends 'base.html.twig' %}

{% block body %}
    <h1>You do not have the rights to access this page  ..</h1>

    <p>
       Please return to the <a href="{{ path('homepage') }}">homepage</a>.
    </p>
{% endblock %}
